/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require select2
 *= require select2-bootstrap
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

 .comment{
  border: 2px solid black;
  padding: 7px;
  border-radius: 6px;
  margin-bottom: 5px;
 }

 .comment p{
  display: inline-block;
 }

 .notice{
 	border: 2px solid orange;
 }

 .alert{
 	border: 2px solid red;
 }

 .btn.btn-success{
 	margin: 10px 0 10px 30px;
 }

 .btn.btn-primary{
 	margin-top: 10px;
 	margin-bottom: 10px;
 }

.form{
	border: 2px solid purple;
	border-radius: 7px;
	width: 25%;
	margin: 0 auto;
}

 .form label, .form input{
 		display: block;
 }

 .form input, .form textarea, .form select{
 		width: 80%;
 		margin: 0 auto;
 }

 .form textarea, .form select{
 		margin-left: 10%;
 		margin-top: 10px;
 }

.form label{
	margin-left: 10%;
	font-size: 18px;
	margin-top: 7px;
}

h2{
	text-align: center;
}

.select2.select2-container{
	margin-left: 10%;
	margin-top: 10px;
}

span.tag{
	padding: 3px;
	border: 2px solid green;
	border-radius: 4px;
	margin: 0 3px 0 3px;
	font-weight: bold;
}

.main-part{
	margin-top: 8px;
}
